.addTask {
  top: 55px;
  height: calc(100vh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f9f9f9;
  height: 1100px;

  .oznaci{
    padding: 10px;
  }

.dugmad {
  display: flex;
  button {
    background-color: #ffd700;
    border: none;
    color: white;
    padding: 0.35rem 0.8rem;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:first-of-type {
      background-color: #dc3545; // crveno za 'Obrisi'

      &:hover {
        background-color: #a71d2a;
      }
    }
  }
}
  form {
    background-color: #fff;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;

    label {
      display: block;
      font-weight: 600;
      margin-bottom: 0.3rem;
      color: #333;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.6rem 0.8rem;
      margin-bottom: 1.2rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      font-size: 1rem;
      transition: border-color 0.3s, box-shadow 0.3s;

      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
      }
    }

    textarea {
      resize: vertical;
      min-height: 100px;
    }

    button {
      width: 100%;
      padding: 0.7rem;
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      background-color: #ffd700;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }

      &:disabled {
        background-color: #aaa;
        cursor: not-allowed;
      }
    }

    p {
      margin-top: -0.5rem;
      margin-bottom: 1rem;
      color: #e63946;
      font-weight: 500;
    }
  }
}
