.navbar {
  background-color: #ffd700;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #faf7ff;
  align-items: center;
  padding: 0 20px;
  height: 55px;
  text-decoration: none;
  a{
    text-decoration: none;
    color: aliceblue;
  }
}

.links{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  a{
    text-decoration: none;
    color: aliceblue;
  }
}
.userActions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoutBtn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #c0392b;
  }
}
