.navbar {
  background-color: #ffd700;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #faf7ff;
  align-items: center;
  padding: 0 20px;
  height: 55px;
}

.links{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  a{
    text-decoration: none;
    color: aliceblue;
  }
}

